<select name="categories" id="categories-select">
  {{ if $.EmptyOption}}
    <option value="">{{ $.EmptyOption }}</option>
  {{ else }}
  <option value="">顶级分类</option>
  {{ end }}
  {{ range .Root.Categories }}
    <option value="{{ .ID }}" {{ if eq $.SelectedID .ID }}selected{{ end }}>
        {{ .Name }}
    </option>
  {{ end }}
</select>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const categorySelect = document.querySelector('#categories-select');
    if (categorySelect) {
      new Choices(categorySelect, {
        removeItemButton: true,
        searchEnabled: true,
        shouldSort: false,
        placeholder: true,
        placeholderValue: '选择分类',
        searchChoices: true,
      });
    }
  });
</script>
