<ul class="menu-list">
  <li class="menu-item{{ if eq .UrlPath "/admin" }} active{{ end }}">
    <a href="/admin" class="menu-text">工作台</a>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">内容管理</span>
      <span class="menu-arrow">▸</span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if eq .UrlPath "/admin/posts" }} active{{ end }}">
        <a href="/admin/posts">文章列表</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/encrypted-posts" }} active{{ end }}">
        <a href="/admin/encrypted-posts">加密文章列表</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/categories" }} active{{ end }}">
        <a href="/admin/categories">分类列表</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/categories/tree" }} active{{ end }}">
        <a href="/admin/categories/tree">树形分类</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/tags" }} active{{ end }}">
        <a href="/admin/tags">标签列表</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">任务管理</span>
      <span class="menu-arrow">▸</span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if eq .UrlPath "/admin/tasks" }} active{{ end }}">
        <a href="/admin/tasks">任务列表</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">数据管理</span>
      <span class="menu-arrow">▸</span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if eq .UrlPath "/admin/import" }} active{{ end }}">
        <a href="/admin/import">导入</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">站点设置</span>
      <span class="menu-arrow">▸</span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if eq .UrlPath "/admin/settings" }} active{{ end }}">
        <a href="/admin/settings">站点设置</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">高级设置</span>
      <span class="menu-arrow">▸</span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if eq .UrlPath "/admin/redirects" }} active{{ end }}">
        <a href="/admin/redirects">重定向管理</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/http-error-logs" }} active{{ end }}">
        <a href="/admin/http-error-logs">请求日志</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/trash" }} active{{ end }}">
        <a href="/admin/trash">回收站</a>
      </li>
      <li class="submenu-item{{ if eq .UrlPath "/admin/metrics" }} active{{ end }}">
        <a href="/admin/metrics">性能监控</a>
      </li>
    </ul>
  </li>
</ul>
