<nav aria-label="Page navigation">
  {{if le .Pager.Page 1}}
  <span class="page-link" tabindex="-1">上一页</span>
  {{else}}
  <a class="page-link" href="?page={{add .Pager.Page -1}}" tabindex="-1">上一页</a>
  {{end}}

  {{$currentPage := .Pager.Page}}
  {{$baseURL := .BaseURL}}

  {{range $i := until .Pager.Num}}
  {{$pageNum := add $i 1}}
  {{if eq $currentPage $pageNum}}
  <span class="page-link">{{$pageNum}}</span>
  {{else}}
  <a class="page-link" href="?page={{$pageNum}}">{{$pageNum}}</a>
  {{end}}
  {{end}}

  {{if ge .Pager.Page .Pager.Total}}
  <span class="page-link">下一页</span>
  {{else}}
  <a class="page-link" href="?page={{add .Pager.Page 1}}">下一页</a>
  {{end}}
</nav>
