<select id="tags-select" name="tags[]" multiple>
  {{ if .Tags }}
    {{ range .Tags }}
      <option value="{{ .ID }}"{{ if $.SelectedTagIDs }}{{ if index $.SelectedTagIDs .ID }} selected{{ end }}{{ end }}>{{ .Name }}</option>
    {{ end }}
  {{ end }}
</select>

<script>
$(function() {
  if ($('#tags-select').length) new Choices(document.getElementById('tags-select'), {
    placeholderValue: '选择标签    ', placeholder: true, removeItemButton: true, searchEnabled: true,
    shouldSort: false, searchChoices: true, addItems: true, editItems: false, delimiter: ',',
    paste: false, duplicateItemsAllowed: false
  });
});
</script>
