  <header>
    <h1>{{ .Entity.Name }}</h1>

    {{ template "site/includes/list_nav" dict "IsCategory" .IsCategory "IsTag" .IsTag }}
  </header>

  {{ if .Entity.Description }}
  <section>
      <p class="subtitle">{{ .Entity.Description }}</p>
  </section>
  {{ end }}

  <ul>
    {{ range .List }}
    <li>
      <a href="{{ .PermLink }}">{{ .Title }}</a>
      <span class="relation">
        {{ template "site/tag_list" dict "Items" .Tags "Label" true }}
        {{ if not $.IsCategory }}
            {{if .Category}}
                {{template "site/category_item" dict "Item" .Category "Label" true}}
            {{end}}
        {{ end }}
      </span>
      <span class="published">{{ relativeTime .CreatedAt }}</span>
    </li>
    {{ else }}
    <li>No post</li>
    {{ end }}
  </ul>
