{% extends "layout_main.html" %}
{% block content %}
{% from "macro_content.html" import category_item, tag_list %}

<header>
  <h1>{{ Entity.Name }}</h1>

  {% include "inc_list_nav.html" %}
</header>

{% if Entity.Description %}
<section>
  <p class="subtitle">{{ Entity.Description }}</p>
</section>
{% endif %}

<ul>
  {% for item in List %}
  <li>
    <a href="{{ item.PermLink }}">{{ item.Title }}</a>
    <span class="relation">
      {{ tag_list(item.Tags, true) }}
      {% if (not IsCategory) and item.Category %}
        {{ category_item(item.Category, true) }}
      {% endif %}
    </span>
    <span class="published">{{ item.CreatedAt | relativeTime }}</span>
  </li>
  {% else %}
  <li>暂无文章</li>
  {% endfor %}
</ul>
{% endblock %}
