{% extends "site/layout/layout" %}
{% block content %}
<header>
  <h1>{{ settings("site_title") }}</h1>
  {% with Pages = Pages, IsLogin = Auth.IsLogin %}
    {% include "site/include/nav" %}
  {% endwith %}
</header>

<ul class="articles">
  {% for article in Articles %}
  <li>
    <a href="{{ article.PermLink }}">{{ article.Post.Title }}</a>
    <span class="published">{{ article.Post.PublishedAt | relativeTime }}</span>
  </li>
  {% else %}
  <li>暂无文章</li>
  {% endfor %}
</ul>

{% with Pager = Pager, SearchQueryEscaped = SearchQueryEscaped %}
  {% include "site/include/pagination" %}
{% endwith %}
{% endblock %}
