<!doctype html>
<html lang="{{ settings("language") }}">
<head>
  {% set pageTitle = Title|default(settings("site_title"))|default("Swaves") %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <!--<link rel="stylesheet" href="/static/admin/oat/oat.min.css">-->
  <link rel="stylesheet" href="/static/site/tufte-css/tufte.min.css">
  <link rel="stylesheet" href="/static/site/style.css">
  <style>
  </style>
</head>
<body>
  <main>
      {{ embed }}
  </main>

  <footer>
    <p>
      <small>{{ replace_datetime(settings("site_copyright")) }}</small>
    </p>
  </footer>

</body>
</html>
