{% extends "layout_main.html" %}
{% block content %}
{% macro macro_site_category_tree_nodes(__ctx) %}
  {% for categoryNode in __ctx %}
  <li>
    <a href="{{ categoryNode.Item.PermLink }}">{{ categoryNode.Item.Name }}</a>
    <span class="post-count">({{ categoryNode.Item.PostCount }})</span>
    <span>{{ categoryNode.Item.CreatedAt | relativeTime }}</span>
    {% if (categoryNode.Children|length) > 0 %}
    <ul>
      {{ macro_site_category_tree_nodes(categoryNode.Children) }}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}

<header>
  <h1>{{ Title }}</h1>

  {% set __listNavIsCategory = IsCategory %}
  {% set __listNavIsTag = IsTag %}
  {% set IsCategory = true %}
  {% set IsTag = true %}
  {% include "inc_list_nav.html" %}
  {% set IsCategory = __listNavIsCategory %}
  {% set IsTag = __listNavIsTag %}
</header>



{% if IsCategory %}
<ul class="category-index">
  {% if (List|length) > 0 %}
    {{ macro_site_category_tree_nodes(List) }}
  {% else %}
  <li>暂无分类</li>
  {% endif %}
</ul>
{% else %}
<ul class="tag-index">
  {% for tag in List %}
  <li>
    <a href="{{ tag.PermLink }}">{{ tag.Name }}</a>
    <span class="post-count">({{ tag.PostCount }})</span>
    <span>{{ tag.CreatedAt | relativeTime }}</span>
  </li>
  {% else %}
  <li>暂无数据</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
