<header>
  <h1>{{ .Title }}</h1>
  <nav>
    <a href="{{ settings "base_path" }}">首页</a>
    /
    <a href="{{ settings "category_url_prefix" }}">分类</a>
    /
    <a href="{{ settings "tag_url_prefix" }}">标签</a>
  </nav>
</header>

{{ define "site/category_tree_nodes" }}
  {{ range . }}
  <li>
    <a href="{{ .Item.PermLink }}">{{ .Item.Name }}</a>
    <span class="post-count">({{ .Item.PostCount }})</span>
    <span>{{ relativeTime .Item.CreatedAt }}</span>
    {{ if gt (len .Children) 0 }}
    <ul>
      {{ template "site/category_tree_nodes" .Children }}
    </ul>
    {{ end }}
  </li>
  {{ end }}
{{ end }}

{{ if .IsCategory }}
<ul class="category-index">
  {{ if gt (len .List) 0 }}
    {{ template "site/category_tree_nodes" .List }}
  {{ else }}
  <li>No categories</li>
  {{ end }}
</ul>
{{ else }}
<ul class="tag-index">
  {{ range .List }}
  <li>
    <a href="{{ .PermLink }}">{{ .Name }}</a>
    <span class="post-count">({{ .PostCount }})</span>
    <span>{{ relativeTime .CreatedAt }}</span>
  </li>
  {{ else }}
  <li>No {{ .ID }}</li>
  {{ end }}
</ul>
{{ end }}
