<header>
  <h1>{{ .Title }}</h1>

  {{ template "site/includes/list_nav" dict "IsCategory" true "IsTag" true }}
</header>

{{ define "site/category_tree_nodes" }}
  {{ range . }}
  <li>
    <a href="{{ .Item.PermLink }}">{{ .Item.Name }}</a>
    <span class="post-count">({{ .Item.PostCount }})</span>
    <span>{{ relativeTime .Item.CreatedAt }}</span>
    {{ if gt (len .Children) 0 }}
    <ul>
      {{ template "site/category_tree_nodes" .Children }}
    </ul>
    {{ end }}
  </li>
  {{ end }}
{{ end }}

{{ if .IsCategory }}
<ul class="category-index">
  {{ if gt (len .List) 0 }}
    {{ template "site/category_tree_nodes" .List }}
  {{ else }}
  <li>暂无分类</li>
  {{ end }}
</ul>
{{ else }}
<ul class="tag-index">
  {{ range .List }}
  <li>
    <a href="{{ .PermLink }}">{{ .Name }}</a>
    <span class="post-count">({{ .PostCount }})</span>
    <span>{{ relativeTime .CreatedAt }}</span>
  </li>
  {{ else }}
  <li>暂无数据</li>
  {{ end }}
</ul>
{{ end }}
