
<style>
  /*.btn {*/
  /*    display: inline-flex;*/
  /*    align-items: center;*/
  /*    justify-content: center;*/

  /*    padding: 4px 10px;*/
  /*    font-size: 14px;*/

  /*    color: var(--foreground);*/
  /*    background: var(--card);*/
  /*    border: 1px solid var(--border);*/
  /*    border-radius: var(--radius-medium);*/

  /*    cursor: pointer;*/
  /*    text-decoration: none;*/
  /*    white-space: nowrap;*/

  /*    transition: background-color var(--transition-fast),*/
  /*    border-color var(--transition-fast),*/
  /*    box-shadow var(--transition-fast);*/
  /*}*/
  /*.btn .btn-icon {*/
  /*    display: inline-flex;*/
  /*    margin-right: 6px;*/
  /*    line-height: 0;*/
  /*}*/
  /*.btn .btn-icon svg {*/
  /*    width: 14px;*/
  /*    height: 14px;*/
  /*}*/
</style>
<div class="actions flex justify-between">
  <div class="left">
      {% if UrlIs("admin.posts.new") or UrlIs("admin.posts.create") %}
        <button type="submit" form="form" name="action" value="save" class="button">{{ ui.action_btn_content("square-pen", "保存") }}</button>
        <button type="submit" form="form" name="action" value="publish" class="button">{{ ui.action_btn_content("square-pen", "发布") }}</button>
      {% else %}{% if UrlIs("admin.tags.new") or UrlIs("admin.tags.create") or UrlIs("admin.categories.new") or UrlIs("admin.categories.create") or UrlIs("admin.encrypted_posts.new") or UrlIs("admin.encrypted_posts.create") or UrlIs("admin.redirects.new") or UrlIs("admin.redirects.create") or UrlIs("admin.tasks.new") or UrlIs("admin.tasks.create") or UrlIs("admin.settings.new") or UrlIs("admin.settings.create") %}
        <a class="button" href="#" onclick="document.querySelector('form').submit(); return false;">{{ ui.action_btn_content("square-pen", "保存") }}</a>
      {% else %}{% if UrlIs("admin.import.show") or UrlIs("admin.import.submit") %}
        <a class="button" href="#" onclick="document.querySelector('form').requestSubmit(); return false;">{{ ui.action_btn_content("plus", "导入") }}</a>
      {% else %}{% if UrlIs("admin.settings.all") or UrlIs("admin.settings.all.update") %}
        <button type="submit" form="form" class="button">{{ ui.action_btn_content("square-pen", "保存") }}</button>
      {% else %}{% if UrlIs("admin.posts.edit") or UrlIs("admin.posts.update") %}
        {% if Post and (Post.PublishedAt > 0) %}
        <button type="submit" form="form" name="action" value="update" class="button">{{ ui.action_btn_content("square-pen", "更新") }}</button>
        {% else %}
        <button type="submit" form="form" name="action" value="save" class="button">{{ ui.action_btn_content("square-pen", "保存") }}</button>
        <button type="submit" form="form" name="action" value="publish" class="button">{{ ui.action_btn_content("square-pen", "发布") }}</button>
        {% endif %}
      {% else %}{% if UrlIs("admin.tags.edit") or UrlIs("admin.tags.update") or UrlIs("admin.categories.edit") or UrlIs("admin.categories.update") or UrlIs("admin.encrypted_posts.edit") or UrlIs("admin.encrypted_posts.update") or UrlIs("admin.redirects.edit") or UrlIs("admin.redirects.update") or UrlIs("admin.tasks.edit") or UrlIs("admin.tasks.update") or UrlIs("admin.settings.edit") or UrlIs("admin.settings.update") %}
        <button type="submit" form="form" class="button">{{ ui.action_btn_content("square-pen", "保存") }}</button>
      {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
      {% if UrlIs("admin.posts.list") %}
        <a class="button" href="{{ UrlFor('admin.posts.new') }}">{{ ui.action_btn_content("plus", "新建文章") }}</a>
      {% else %}{% if UrlIs("admin.tags.list") %}
        <a class="button" href="{{ UrlFor('admin.tags.new') }}">{{ ui.action_btn_content("plus", "新建标签") }}</a>
      {% else %}{% if UrlIs("admin.categories.list") %}
        <a class="button" href="{{ UrlFor('admin.categories.new') }}">{{ ui.action_btn_content("plus", "新建分类") }}</a>
        <a class="button" href="{{ UrlFor('admin.categories.tree') }}">{{ ui.action_btn_content("list-tree", "分类树") }}</a>
      {% else %}{% if UrlIs("admin.encrypted_posts.list") %}
        <a class="button" href="{{ UrlFor('admin.encrypted_posts.new') }}">{{ ui.action_btn_content("plus", "新建加密文章") }}</a>
      {% else %}{% if UrlIs("admin.redirects.list") %}
        <a class="button" href="{{ UrlFor('admin.redirects.new') }}">{{ ui.action_btn_content("plus", "新建重定向") }}</a>
      {% else %}{% if UrlIs("admin.tasks.list") %}
        <a class="button" href="{{ UrlFor('admin.tasks.new') }}">{{ ui.action_btn_content("plus", "新建任务") }}</a>
      {% else %}{% if UrlIs("admin.settings.list") %}
        <a class="button" href="{{ UrlFor('admin.settings.new') }}">{{ ui.action_btn_content("plus", "新建设置") }}</a>
        <a class="button" href="{{ UrlFor('admin.settings.all') }}">{{ ui.action_btn_content("square-pen", "编辑全部") }}</a>
      {% else %}{% if UrlIs("admin.settings.all") or UrlIs("admin.settings.all.update") %}
        <a class="button" href="{{ UrlFor('admin.settings.list') }}">{{ ui.action_btn_content("list", "返回列表") }}</a>
      {% else %}{% if UrlIs("admin.categories.tree") %}
        <a class="button" href="{{ UrlFor('admin.categories.new') }}">{{ ui.action_btn_content("plus", "新建分类") }}</a>
        <a class="button" href="{{ UrlFor('admin.categories.list') }}">{{ ui.action_btn_content("list", "分类列表") }}</a>
      {% else %}{% if UrlIs("admin.tasks.runs") %}
        <a class="button" href="{{ UrlFor('admin.tasks.list') }}">{{ ui.action_btn_content("arrow-left", "返回任务") }}</a>
      {% else %}{% if UrlIs("admin.posts.new") or UrlIs("admin.posts.create") or UrlIs("admin.posts.edit") or UrlIs("admin.posts.update") or UrlIs("admin.import.show") or UrlIs("admin.import.submit") or UrlIs("admin.export.show") %}
        <a class="button" href="{{ UrlFor('admin.posts.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.tags.new") or UrlIs("admin.tags.create") or UrlIs("admin.tags.edit") or UrlIs("admin.tags.update") %}
        <a class="button" href="{{ UrlFor('admin.tags.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.categories.new") or UrlIs("admin.categories.create") or UrlIs("admin.categories.edit") or UrlIs("admin.categories.update") %}
        <a class="button" href="{{ UrlFor('admin.categories.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.encrypted_posts.new") or UrlIs("admin.encrypted_posts.create") or UrlIs("admin.encrypted_posts.edit") or UrlIs("admin.encrypted_posts.update") %}
        <a class="button" href="{{ UrlFor('admin.encrypted_posts.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.redirects.new") or UrlIs("admin.redirects.create") or UrlIs("admin.redirects.edit") or UrlIs("admin.redirects.update") %}
        <a class="button" href="{{ UrlFor('admin.redirects.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.tasks.new") or UrlIs("admin.tasks.create") or UrlIs("admin.tasks.edit") or UrlIs("admin.tasks.update") %}
        <a class="button" href="{{ UrlFor('admin.tasks.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}{% if UrlIs("admin.settings.new") or UrlIs("admin.settings.create") or UrlIs("admin.settings.edit") or UrlIs("admin.settings.update") %}
        <a class="button" href="{{ UrlFor('admin.settings.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% else %}
        <a class="button" href="{{ UrlFor('admin.home') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
      {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
  </div>
  <div class="right">
  </div>

</div>
