<ul class="menu-list unstyled">
  <li class="menu-item{% if UrlIs("admin.home") %} active{% endif %}">
    <a href="{{ UrlFor('admin.home') }}" class="menu-text">工作台</a>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">内容管理</span>
      <span class="menu-arrow">
        {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.posts.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.posts.list') }}">文章列表</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.assets.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.assets.list', kind='image') }}">资源库</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.comments.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.comments.list') }}">评论管理</a>
      </li>
{#      <li class="submenu-item{% if UrlIs("admin.encrypted_posts.list") %} active{% endif %}">#}
{#        <a href="{{ UrlFor('admin.encrypted_posts.list') }}">加密文章列表</a>#}
{#      </li>#}
      <li class="submenu-item{% if UrlIs("admin.categories.tree") %} active{% endif %}">
        <a href="{{ UrlFor('admin.categories.tree') }}">树形分类</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.categories.list") or UrlIs("admin.tags.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.categories.list') }}">分类/标签</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">任务管理</span>
      <span class="menu-arrow">
          {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.tasks.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.tasks.list') }}">任务列表</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">数据管理</span>
      <span class="menu-arrow">
          {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.import.show") %} active{% endif %}">
        <a href="{{ UrlFor('admin.import.show') }}">导入</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.export.show") %} active{% endif %}">
        <a href="{{ UrlFor('admin.export.show') }}">导出</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">站点管理</span>
      <span class="menu-arrow">
          {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.settings.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.settings.list') }}">设置列表</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.redirects.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.redirects.list') }}">重定向管理</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.http_error_logs.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.http_error_logs.list') }}">请求日志</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">高级功能</span>
      <span class="menu-arrow">
          {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.trash.list") %} active{% endif %}">
        <a href="{{ UrlFor('admin.trash.list') }}">回收站</a>
      </li>
      <li class="submenu-item{% if UrlIs("admin.monitor") %} active{% endif %}">
        <a href="{{ UrlFor('admin.monitor') }}">性能监控</a>
      </li>
    </ul>
  </li>
  <li style="display:none">
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">开发调试</span>
      <span class="menu-arrow">
          {{ LucideIcon("chevron-right", 16) }}
      </span>
    </div>
    <ul class="submenu-list unstyled show">
      <li class="submenu-item{% if UrlIs("admin.dev.ui_components") %} active{% endif %}">
        <a href="{{ UrlFor('admin.dev.ui_components') }}">UI组件</a>
      </li>
    </ul>
  </li>
</ul>
