<nav aria-label="分页导航" class="pagination">
  <div class="ivalign gap-1">
    {{if le .Pager.Page 1}}
    <span class="page-link page-link-prev" tabindex="-1">上一页</span>
    {{else}}
    <a class="page-link page-link-prev" href="?page={{add .Pager.Page -1}}&pageSize={{.Pager.PageSize}}{{if .SearchQueryEscaped}}&q={{.SearchQueryEscaped}}{{end}}" tabindex="-1">上一页</a>
    {{end}}

    {{range $i := until .Pager.Num}}
    {{$pageNum := add $i 1}}
    {{if eq $.Pager.Page $pageNum}}
    <span class="page-link">{{$pageNum}}</span>
    {{else}}
    <a class="page-link-num page-link" href="?page={{$pageNum}}&pageSize={{$.Pager.PageSize}}{{if $.SearchQueryEscaped}}&q={{$.SearchQueryEscaped}}{{end}}">{{$pageNum}}</a>
    {{end}}
    {{end}}

    {{if ge .Pager.Page .Pager.Num}}
    <span class="page-link page-link-next">下一页</span>
    {{else}}
    <a class="page-link page-link-next" href="?page={{add .Pager.Page 1}}&pageSize={{.Pager.PageSize}}{{if .SearchQueryEscaped}}&q={{.SearchQueryEscaped}}{{end}}">下一页</a>
    {{end}}
  </div>
</nav>
