{% extends "admin_app/layout/layout.html" %}
{% block page_actions %}
<a class="button" href="{{ UrlFor('admin.settings.new') }}">{{ ui.action_btn_content("plus", "新建设置") }}</a>
<a class="button" href="{{ UrlFor('admin.settings.all') }}">{{ ui.action_btn_content("square-pen", "编辑全部") }}</a>
{% endblock %}
{% block content %}

<table>
  <thead>
  <tr>
    <th class="cell-4">ID</th>
    <th>名称</th>
    <th>分类</th>
    <th>子分类</th>
    <th>编码</th>
    <th>类型</th>
    <th>值</th>
    <th>需重启</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {% for setting in Settings %}
  <tr>
    <td class="cell-4">{{ setting.ID }}</td>
    <td>{{ setting.Name }}</td>
    <td>{{ setting.Kind }}</td>
    <td>{% if setting.SubKind %}{{ setting.SubKind }}{% else %}-{% endif %}</td>
    <td>{{ setting.Code }}</td>
    <td>{{ setting.Type }}</td>
    <td>
      {% if (setting.Type == "password") or (setting.Type == "secret") %}
        <span>••••••</span>
      {% else %}
        {{ setting.Value }}
      {% endif %}
    </td>
    <td>{% if setting.Reload == 1 %}是{% else %}—{% endif %}</td>
    <td>{{ setting.CreatedAt | relativeTime }}</td>
    <td>{{ setting.UpdatedAt | relativeTime }}</td>
    {{ ui.table_row_actions("admin.settings.edit", "admin.settings.delete", setting.ID) }}
  </tr>
  {% else %}
  {{ ui.table_empty(11, "暂无设置项") }}
  {% endfor %}
  </tbody>

</table>
{% endblock %}
