{% extends "dash/layout/layout.html" %}
{% block page_actions %}
<a class="button" href="{{ UrlFor('admin.categories.new') }}">{{ ui.action_btn_content("plus", "新建分类") }}</a>
<a class="button" href="{{ UrlFor('admin.categories.list') }}">{{ ui.action_btn_content("list", "分类列表") }}</a>
{% endblock %}
{% block content %}

{% macro macro_category_item(category, children, root) %}
  <li class="category-item">
    <div class="flex items-center">
      <div>{{ category.Sort }}</div>
      <div class="category-name">
        <strong>{{ category.Name }}</strong>
      </div>
      <div class="flex items-center gap-4" style="flex-grow: 1; width: 300px; justify-content: end;">
        <form id="form" method="post" style="display:inline" action="{{ UrlFor('admin.categories.parent.update', id=category.ID) }}" class="category-parent-form">
          {{ _csrf_token() }}
            {% with Root = root, SelectedID = category.ParentID, EmptyOption = "顶级分类", SelectID = "" %}{% include "dash/include/category_select.html" %}{% endwith %}
        </form>
        <div>
          {{ ui.action_icon_link(UrlFor('admin.categories.edit', id=category.ID), "编辑", "square-pen") }}
          {{ ui.action_icon_link(UrlFor('admin.categories.new', parent_id=category.ID), "添加", "plus") }}
        </div>
        <form id="form" method="post" style="display:inline" action="{{ UrlFor('admin.categories.delete', id=category.ID) }}">
          {{ _csrf_token() }}
          <button type="submit">
              {{ ui.action_btn_content("trash-2", "删除", 14) }}
          </button>
        </form>
      </div>
    </div>

      {% if children|length > 0 %}
        <ul class="categories-subtree">
            {% for node in children %}
                {{ macro_category_item(node.Category, node.Children, root) }}
            {% endfor %}
        </ul>
      {% endif %}
  </li>
{% endmacro %}

<style>
    /* 树整体 */
    .categories-tree {
        width: 50%;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    /* 子层级缩进 + 引导线 */
    .categories-tree ul {
        list-style: none;
        margin: 6px 0 0 18px;
        padding-left: 12px;
        border-left: 1px dashed #ddd;
    }

    /* 单个分类项 */
    .category-item {
        padding: 4px;
        margin-block-end: 0;
    }
    .category-item select {
        margin-block-start: 0;
    }
    .category-name {
        width: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* 横向排列区 */
    .category-item > div.flex.items-center {
      padding-left: 10px;
    }
    .category-item .flex.items-center {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
    }

    /* hover 提示层级关系 */
    .category-item:hover {
        background: #f6f7f8;
    }

    /* ID */
    .category-item .flex.items-center > div:first-child {
        /*width: 32px;*/
        color: #999;
        font-size: 12px;
    }

    /* 名称 */
    .category-item strong {
        font-weight: 500;
    }

    /* 操作区 */
    .category-item a {
        color: #0366d6;
        text-decoration: none;
        margin-right: 6px;
    }

    .category-item a:hover {
        text-decoration: underline;
    }

    .categories-tree ul > li::before {
        content: "";
        position: absolute;
        margin-left: -12px;
        margin-top: 14px;
        width: 8px;
        border-top: 1px dashed #ddd;
    }
</style>

{% if Tree %}
  <ul class="categories-tree">
    {% set rootData = {"CategoryOptions": CategoryOptions} %}
    {% for node in Tree %}
        {{ macro_category_item(node.Category, node.Children, rootData) }}
    {% endfor %}
  </ul>
{% else %}
  <p>暂无分类</p>
{% endif %}

<script>
$(function() {
  $('form.category-parent-form').find('select[name="categories"]').on('change', function() {
    $(this).closest('form').submit();
  });
});
</script>
{% endblock %}
