{% extends "dash/layout/layout_detail.html" %}
{% import "dash/macro/ui.html" as ui %}
{% import "dash/include/ui.html" as sui %}

{% block window_toolbar_main_left %}
  {{ sui.Button("保存", "primary", attrs='type="submit" form="form"') }}
{% endblock %}

{% block window_toolbar_main_center %}
  {{ sui.ToolbarTitle("新建加密文章") }}
{% endblock %}

{% block content %}
{% with Action = UrlFor('admin.encrypted_posts.create') %}{% include "dash/include/forms/encrypted_posts_form.html" %}{% endwith %}
{% endblock %}
