{% extends "dash/layout/layout_detail.html" %}
{% import "dash/include/ui.html" as sui %}

{% block head_extra %}
  <script src="/static/seditor/dist/seditor.min.js"></script>
{% endblock %}

{% block window_toolbar_main_left %}
  {{ sui.Button("保存", "primary", attrs='type="submit" form="form"') }}
{% endblock %}

{% block window_toolbar_main_center %}
  {{ sui.ToolbarTitle("编辑加密文章") }}
{% endblock %}

{% block status_main_left %}
  {% with ExpiresAtUnix = Post.ExpiresAt|default(0) %}
    {% include "dash/include/encrypted_post_expiry_status.html" %}
  {% endwith %}
{% endblock %}

{% block status_main_center %}
  {% with ShowLinkAction = true, ShowImageAction = false %}
    {% include "dash/include/post_status_toolbar_actions.html" %}
  {% endwith %}
{% endblock %}

{% block status_main_right %}
  <span id="post-editor-word-count">字数 0</span>
{% endblock %}

{% block content %}
{% with
  PasswordPlaceholder = "留空以保持当前密码",
  PasswordHelp = "留空可保持当前密码",
  ShowSlug = true,
  SlugValue = Post.Slug
%}
  {% include "dash/include/encrypted_post_editor_meta.html" %}
{% endwith %}

{% with
  FormAction = UrlFor('dash.encrypted_posts.update', id=Post.ID),
  TitleValue = Post.Title,
  TitlePlaceholder = "",
  ContentValue = Post.Content,
  StatusValue = "",
  CommentEnabledValue = "1",
  KindValue = "0",
  TagsValue = "",
  AutoSyncSlug = false,
  SlugAPIURL = ""
%}
  {% include "dash/include/post_editor_content.html" %}
{% endwith %}
{% endblock %}
