{% extends "dash/layout/layout_detail.html" %}
{% import "dash/macro/ui.html" as ui %}
{% import "dash/include/ui.html" as sui %}

{% block window_toolbar_main_left %}
  {% if Post and (Post.PublishedAt > 0) %}
    {{ sui.Button("更新", "primary", attrs='type="submit" form="form" name="action" value="update"') }}
  {% else %}
    {{ sui.Button("保存", "outline", attrs='type="submit" form="form" name="action" value="save"') }}
    {{ sui.Button("发布", "primary", attrs='type="submit" form="form" name="action" value="publish"') }}
  {% endif %}
{% endblock %}

{% block window_toolbar_main_center %}
  <div class="slug">
    <input type="text" value="{{ Post.Slug }}" class="input-slug" disabled>
  </div>
{% endblock %}

{% block window_toolbar_main_right %}
  {% if Post and (Post.Status == "published") and (Post.PublishedAt > 0) %}
    {{ sui.LinkButton("查看", "outline", href=GetPostUrl(Post), attrs='target="_blank" rel="noopener"') }}
  {% else %}
    {{ sui.Button("预览", "outline", attrs='type="button" disabled') }}
  {% endif %}
{% endblock %}

{% block status_main_left %}
  {% with SelectedCategoryID = Category.ID|default(0), CategoryOptions = CategoryOptions %}
    {% include "dash/include/post_category.html" %}
  {% endwith %}
{% endblock %}

{% block status_main_center %}
  <div aria-label="Markdown 常用按钮">
    {{ sui.IconAction("bold", "加粗", attrs='data-title="加粗" data-seditor-command="bold"') }}
    {{ sui.IconAction("italic", "斜体", attrs='data-title="斜体" data-seditor-command="italic"') }}
    {{ sui.IconAction("quote", "引用", attrs='data-title="引用" data-seditor-command="blockquote"') }}
    {{ sui.IconAction("link", "链接", attrs='data-title="插入链接" data-seditor-command="link"') }}
    {{ sui.IconAction("image", "图片上传", attrs='data-title="图片上传" data-seditor-command="image_upload"') }}
    {{ sui.IconAction("list", "无序列表", attrs='data-title="无序列表" data-seditor-command="bullet_list"') }}
    {{ sui.IconAction("list-tree", "有序列表", attrs='data-title="有序列表" data-seditor-command="ordered_list"') }}
  </div>
{% endblock %}

{% block status_main_right %}
  <span id="post-editor-word-count">字数 0</span>
{% endblock %}

{% block content %}
{% with
  FormAction = UrlFor('admin.posts.update', id=Post.ID),
  TitleValue = Post.Title,
  TitlePlaceholder = "",
  ContentValue = Post.Content,
  StatusValue = Post.Status,
  CommentEnabledValue = Printf("%d", Post.CommentEnabled),
  KindValue = Printf("%d", Post.Kind),
  TagsValue = SelectedTagNames|default('')
%}
  {% include "dash/include/post_editor_content.html" %}
{% endwith %}
{% endblock %}
