{% extends "dash/layout/layout_detail.html" %}
{% import "dash/macro/ui.html" as ui %}
{% import "dash/include/ui.html" as sui %}

{% block window_toolbar_main_left %}
  {{ sui.Button("保存", "outline", attrs='type="submit" form="form" name="action" value="save"') }}
{% endblock %}

{% block window_toolbar_main_center %}
  <div class="slug">
    <input type="text" name="slug" value="{{ DraftSlug|default('') }}" class="input-slug" form="form" placeholder="文章 slug" required>
  </div>
{% endblock %}

{% block window_toolbar_main_right %}
  {{ sui.Button("预览", "outline", attrs='type="button" disabled') }}
  {{ sui.Button("发布", "primary", attrs='type="submit" form="form" name="action" value="publish"') }}
{% endblock %}

{% block status_main_left %}
  {% with SelectedCategoryID = DraftCategoryID|default(0), CategoryOptions = CategoryOptions %}
    {% include "dash/include/post_category.html" %}
  {% endwith %}
{% endblock %}

{% block status_main_center %}
  <div aria-label="Markdown 常用按钮">
    {{ sui.IconAction("bold", "加粗", attrs='data-title="加粗" data-seditor-command="bold"') }}
    {{ sui.IconAction("italic", "斜体", attrs='data-title="斜体" data-seditor-command="italic"') }}
    {{ sui.IconAction("quote", "引用", attrs='data-title="引用" data-seditor-command="blockquote"') }}
    {{ sui.IconAction("list", "无序列表", attrs='data-title="无序列表" data-seditor-command="bullet_list"') }}
    {{ sui.IconAction("list-tree", "有序列表", attrs='data-title="有序列表" data-seditor-command="ordered_list"') }}
  </div>
{% endblock %}

{% block status_main_right %}
  <span id="post-editor-word-count">字数 0</span>
{% endblock %}

{% block content %}
{% with
  FormAction = UrlFor('admin.posts.create'),
  TitleValue = DraftTitle|default(''),
  TitlePlaceholder = "标题",
  ContentValue = DraftContent|default(''),
  StatusValue = "",
  CommentEnabledValue = "1",
  KindValue = "0",
  TagsValue = SelectedTagNames|default('')
%}
  {% include "dash/include/post_editor_content.html" %}
{% endwith %}
{% endblock %}
