{% extends "dash/layout/layout_detail.html" %}
{% import "dash/macro/ui.html" as ui %}
{% import "dash/include/ui.html" as sui %}

{% block window_toolbar_main_left %}
  {% if Post and (Post.PublishedAt > 0) %}
    {{ sui.Button("更新", "primary", attrs='type="submit" form="form" name="action" value="update"') }}
  {% else %}
    {{ sui.Button("保存", "outline", attrs='type="submit" form="form" name="action" value="save"') }}
    {{ sui.Button("发布", "primary", attrs='type="submit" form="form" name="action" value="publish"') }}
  {% endif %}
{% endblock %}

{% block window_toolbar_main_center %}
  <div class="slug">
    <input type="text" value="{{ Post.Slug }}" class="input-slug" disabled>
  </div>
{% endblock %}

{% block window_toolbar_main_right %}
  {% if Post and (Post.Status == "published") and (Post.PublishedAt > 0) %}
    {{ sui.LinkButton("查看", "outline", href=GetPostUrl(Post), attrs='target="_blank" rel="noopener"') }}
  {% else %}
  {% endif %}
{% endblock %}

{% block status_main_left %}
  {% include "dash/include/post_category.html" %}
{% endblock %}

{% block status_main_center %}
  {% include "dash/include/post_status_toolbar_actions.html" %}
{% endblock %}

{% block status_main_right %}
  <span id="post-editor-word-count">字数 0</span>
{% endblock %}

{% block content %}
<div class="post-editor-layout">
  <div class="post-editor-layout-main">
    {% include "dash/include/post_editor_content.html" %}
  </div>
</div>
{% endblock %}
