{% extends "dash/layout/layout_detail.html" %}
{% import "dash/macro/ui.html" as ui %}
{% block page_actions %}
<button type="submit" form="form" class="button">{{ ui.action_btn_content("square-pen", "保存") }}</button>
<a class="button" href="{{ UrlFor('admin.tasks.list') }}">{{ ui.action_btn_content("arrow-left", "返回") }}</a>
{% endblock %}
{% block content %}
{% with Action = UrlFor('admin.tasks.update', id=Task.ID), Task = Task, IsEdit = true %}{% include "dash/include/forms/tasks_form.html" %}{% endwith %}
{% endblock %}
