<table>
  <thead>
  <tr>
    <th class="col-id">ID</th>
    <th>标题</th>
    <th>URL标识</th>
    <th>过期时间</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Posts }}
  <tr>
    <td class="col-id">{{ .ID }}</td>
    <td>{{ .Title }}</td>
    <td>{{ .Slug }}</td>
    <td>{{ if .ExpiresAt }}{{ formatTime .ExpiresAt }}{{ else }}Never{{ end }}</td>
    <td>{{ relativeTime .CreatedAt }}</td>
    <td>{{ relativeTime .UpdatedAt }}</td>
    {{ template "partials/table_row_actions" dict "BaseURL" "/admin/encrypted-posts" "ID" .ID }}
  </tr>
  {{ else }}
  {{ template "partials/table_empty" dict "ColSpan" 7 "Message" "No encrypted posts" }}
  {{ end }}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="7">
      {{template "partials/pagination" .}}
    </td>
  </tr>
  </tfoot>
</table>

