{{ template "partials/error_message" . }}

<form id="form" method="post" action="/admin/redirects/new">

  {{ template "partials/form_field_text" dict "Label" "From" "Name" "from" "Required" true }}
  {{ template "partials/form_field_text" dict "Label" "To" "Name" "to" "Required" true }}
  {{ template "partials/form_field_select" dict "Label" "Status (状态码)" "Name" "status" "Options" (slice (dict "Value" "301" "Label" "301 - Permanent Redirect") (dict "Value" "302" "Label" "302 - Temporary Redirect")) "Selected" "301" }}
  {{ template "partials/form_field_checkbox" dict "Label" "Enabled (启用)" "Name" "enabled" "Value" 1 "Checked" true }}

</form>

