{{ template "partials/error_message" . }}

<form id="form" method="post" action="/admin/redirects/{{ .Redirect.ID }}/edit">

  {{ template "partials/form_field_text" dict "Label" "From" "Name" "from" "Value" .Redirect.From "Required" true }}
  {{ template "partials/form_field_text" dict "Label" "To" "Name" "to" "Value" .Redirect.To "Required" true }}
  {{ template "partials/form_field_select" dict "Label" "Status (状态码)" "Name" "status" "Options" (slice (dict "Value" "301" "Label" "301 - Permanent Redirect") (dict "Value" "302" "Label" "302 - Temporary Redirect")) "Selected" .Redirect.Status }}
  {{ template "partials/form_field_checkbox" dict "Label" "Enabled (启用)" "Name" "enabled" "Value" 1 "Checked" (eq .Redirect.Enabled 1) }}

</form>

