<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>分类</th>
    <th>编码</th>
    <th>类型</th>
    <th>值</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Settings }}
  <tr>
    <td>{{ .ID }}</td>
    <td>{{ .Name }}</td>
    <td>{{ .Kind }}</td>
    <td>{{ .Code }}</td>
    <td>{{ .Type }}</td>
    <td>
      {{ if eq .Type "password" }}
        <span>••••••</span>
      {{ else }}
        {{ .Value }}
      {{ end }}
    </td>
    <td>{{ formatTime .CreatedAt }}</td>
    <td>{{ formatTime .UpdatedAt }}</td>
    {{ template "partials/table_row_actions" dict "BaseURL" "/admin/settings" "ID" .ID }}
  </tr>
  {{ else }}
  {{ template "partials/table_empty" dict "ColSpan" 9 "Message" "No settings" }}
  {{ end }}
  </tbody>

</table>

