<p>
  <a href="/admin/settings">Back to List</a>
</p>

<form method="post" action="/admin/settings/all">

  {{ $lastCategory := "" }}
  {{ range .Settings }}
    {{ if ne $lastCategory .Category }}
      {{ if ne $lastCategory "" }}
        <hr>
      {{ end }}
      <h2>{{ .Category }}</h2>
      {{ $lastCategory = .Category }}
    {{ end }}

  <p>
    <label>
      {{ .Name }}<br>
      {{ if .Description }}
      <small>{{ .Description }}</small><br>
      {{ end }}

      {{ if eq .Type "text" }}
        <input type="text" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "number" }}
        <input type="number" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "date" }}
        <input type="date" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "time" }}
        <input type="time" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "datetime" }}
        <input type="datetime-local" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "url" }}
        <input type="url" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "range" }}
        <input type="range" name="setting_{{ .Code }}" value="{{ .Value }}"{{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "password" }}
        <input type="password" name="setting_{{ .Code }}" placeholder="Leave empty to keep current" {{ renderAttrs .AttrsParsed }}>
      {{ else if eq .Type "textarea" }}
        <textarea name="setting_{{ .Code }}"{{ renderAttrs .AttrsParsed }}>{{ .Value }}</textarea>
      {{ else if eq .Type "radio" }}
        {{ range .OptionsParsed }}
          <label style="display:inline-block; margin-right:10px;">
            <input type="radio" name="setting_{{ $.Code }}" value="{{ .value }}" {{ if eq $.Value .value }}checked{{ end }}{{ renderAttrs $.AttrsParsed }}>
            {{ .label }}
          </label>
        {{ end }}
      {{ else if eq .Type "checkbox" }}
        {{ range .OptionsParsed }}
          <label style="display:inline-block; margin-right:10px;">
            <input type="checkbox" name="setting_{{ $.Code }}" value="{{ .value }}" {{ if index $.CheckboxValues .value }}checked{{ end }}{{ renderAttrs $.AttrsParsed }}>
            {{ .label }}
          </label>
        {{ end }}
      {{ else if eq .Type "select" }}
        <select name="setting_{{ .Code }}"{{ renderAttrs .AttrsParsed }}>
          {{ range .OptionsParsed }}
            <option value="{{ .value }}" {{ if eq $.Value .value }}selected{{ end }}>{{ .label }}</option>
          {{ end }}
        </select>
      {{ end }}
    </label>
  </p>
  {{ end }}

  <p>
    <button type="submit">Save</button>
  </p>

</form>

