<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>分类</th>
    <th>名称</th>
    <th>代码</th>
    <th>类型</th>
    <th>值</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Settings }}
  <tr>
    <td>{{ .ID }}</td>
    <td>{{ .Kind }}</td>
    <td>{{ .Name }}</td>
    <td>{{ .Code }}</td>
    <td>{{ .Type }}</td>
    <td>
      {{ if eq .Type "password" }}
        <span>••••••</span>
      {{ else }}
        {{ .Value }}
      {{ end }}
    </td>
    <td>{{ formatTime .CreatedAt }}</td>
    <td>{{ formatTime .UpdatedAt }}</td>
    <td>
      <a href="/admin/settings/{{ .ID }}/edit">Edit</a>

      <form id="form" method="post" style="display:inline" action="/admin/settings/{{ .ID }}/delete">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {{ else }}
  <tr>
    <td colspan="9">No settings</td>
  </tr>
  {{ end }}
  </tbody>

</table>

