<h1>Tags</h1>

<p>
  <a href="/admin/tags/new">New Tag</a>
</p>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Tags }}
  <tr>
    <td>{{ .ID }}</td>
    <td>{{ .Name }}</td>
    <td>{{ .Slug }}</td>
    <td>{{ formatTime .CreatedAt }}</td>
    <td>{{ formatTime .UpdatedAt }}</td>
    <td>
      <a href="/admin/tags/{{ .ID }}/edit">Edit</a>

      <form method="post" style="display:inline" action="/admin/tags/{{ .ID }}/delete">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {{ else }}
  <tr>
    <td colspan="6">No tags</td>
  </tr>
  {{ end }}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="6">
      {{template "partials/pagination" .}}
    </td>
  </tr>
  </tfoot>
</table>

