<h3>Task: {{ .Task.Name }} ({{ .Task.Code }})</h3>

<table>
  <thead>
  <tr>
    <th>任务代码</th>
    <th>运行ID</th>
    <th>状态</th>
    <th>消息</th>
    <th>耗时（毫秒）</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>创建时间</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Runs }}
  <tr>
    <td>{{ .TaskCode }}</td>
    <td>{{ .RunID }}</td>
    <td>{{ .Status }}</td>
    <td>{{ .Message }}</td>
    <td>{{ .Duration }}</td>
    <td>{{ formatTime .StartedAt }}</td>
    <td>{{ formatTime .FinishedAt }}</td>
    <td>{{ formatTime .CreatedAt }}</td>
  </tr>
  {{ else }}
  <tr>
    <td colspan="8">No runs</td>
  </tr>
  {{ end }}
  </tbody>
</table>
