<ul class="menu-list unstyled">
  <li class="menu-item{{ if url_is .RouteName "admin.home" }} active{{ end }}">
    <a href="{{ url_for "admin.home" }}" class="menu-text">工作台</a>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">内容管理</span>
      <span class="menu-arrow">
        {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.posts.list" }} active{{ end }}">
        <a href="{{ url_for "admin.posts.list" }}">文章列表</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.media.list" }} active{{ end }}">
        <a href="{{ url_for "admin.media.list" }}">媒体库</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.comments.list" }} active{{ end }}">
        <a href="{{ url_for "admin.comments.list" }}">评论管理</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.encrypted_posts.list" }} active{{ end }}">
        <a href="{{ url_for "admin.encrypted_posts.list" }}">加密文章列表</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.categories.list" }} active{{ end }}">
        <a href="{{ url_for "admin.categories.list" }}">分类列表</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.categories.tree" }} active{{ end }}">
        <a href="{{ url_for "admin.categories.tree" }}">树形分类</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.tags.list" }} active{{ end }}">
        <a href="{{ url_for "admin.tags.list" }}">标签列表</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">任务管理</span>
      <span class="menu-arrow">
          {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.tasks.list" }} active{{ end }}">
        <a href="{{ url_for "admin.tasks.list" }}">任务列表</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">数据管理</span>
      <span class="menu-arrow">
          {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.import.show" }} active{{ end }}">
        <a href="{{ url_for "admin.import.show" }}">导入</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.export.show" }} active{{ end }}">
        <a href="{{ url_for "admin.export.show" }}">导出</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">站点设置</span>
      <span class="menu-arrow">
          {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.settings.list" }} active{{ end }}">
        <a href="{{ url_for "admin.settings.list" }}">设置列表</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.settings.all" }} active{{ end }}">
        <a href="{{ url_for "admin.settings.all" }}">站点设置</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">高级设置</span>
      <span class="menu-arrow">
          {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.redirects.list" }} active{{ end }}">
        <a href="{{ url_for "admin.redirects.list" }}">重定向管理</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.http_error_logs.list" }} active{{ end }}">
        <a href="{{ url_for "admin.http_error_logs.list" }}">请求日志</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.trash.list" }} active{{ end }}">
        <a href="{{ url_for "admin.trash.list" }}">回收站</a>
      </li>
      <li class="submenu-item{{ if url_is .RouteName "admin.metrics" }} active{{ end }}">
        <a href="{{ url_for "admin.metrics" }}">性能监控</a>
      </li>
    </ul>
  </li>
  <li style="display:none">
    <div class="menu-item expanded" onclick="toggleSubmenu(this)">
      <span class="menu-text">开发调试</span>
      <span class="menu-arrow">
          {{ template "lucide_icon" dict "name" "chevron-right" "size" "16" }}
      </span>
    </div>
    <ul class="submenu-list show">
      <li class="submenu-item{{ if url_is .RouteName "admin.dev.ui_components" }} active{{ end }}">
        <a href="{{ url_for "admin.dev.ui_components" }}">UI组件</a>
      </li>
    </ul>
  </li>
</ul>
