<span class="badge secondary">
  {{ if and .Tag .KindQuery }}
  <a href="/admin/posts?kind={{ .KindQuery }}{{ if .SearchQueryEscaped }}&q={{ .SearchQueryEscaped }}{{ end }}{{ if .FilterCategoryIDStr }}&category={{ .FilterCategoryIDStr }}{{ end }}&tag={{ .Tag.ID }}">{{ .Tag.Name }}</a>
  {{ else }}
  {{ .Label }}
  {{ end }}
  {{ if .RemoveHref }}
  <a href="{{ .RemoveHref }}" class="tag-remove btn-icon" aria-label="删除">
    {{ template "lucide_icon" dict "name" "x" "size" "14" }}
  </a>
  {{ end }}
</span>
