<!doctype html>
<html lang="{{ Settings("language") }}">
<head>
  {% set pageTitle = Title|default(Settings("site_title"))|default("Swaves") %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <!--<link rel="stylesheet" href="/static/admin/oat/oat.min.css">-->
  <link rel="stylesheet" href="/static/site/tufte-css/tufte.min.css">
  <link rel="stylesheet" href="/static/site/style.css">
  <script src="/static/site/main.js"></script>
  <style>
  </style>
</head>
<body>
  <main>
      {% block content %}{% endblock %}
  </main>

  <footer>
    <p>
      <small>{{ Settings("site_copyright") | datetimeReplacer }}</small>
    </p>
  </footer>

</body>
</html>
