  <header>
    <h1>{{ .Entity.Name }}</h1>
    <nav>
      <a href="{{ settings "base_path" }}">首页</a>
      {{if .IsCategory}}
      / <a href="{{ settings "category_url_prefix" }}">分类</a>
      {{end}}
      {{if .IsTag}}
      / <a href="{{ settings "tag_url_prefix" }}">标签</a>
      {{end}}
      / <form method="post" action="{{ GetBasePath }}/_action/like/{{ .LikeType }}/{{ .Entity.ID }}" style="display:inline;" data-like-form>
        <input type="hidden" name="return_url" value="{{ .UrlPath }}">
        <button
          type="submit"
          data-text="点赞 ({CNT})"
          data-like-button
        >点赞 ({{ if .LikeCount }}{{ .LikeCount }}{{ else }}0{{ end }})</button>
      </form>
    </nav>
  </header>
  <ul>
    {{ range .List }}
    <li>
      <a href="{{ .PermLink }}">{{ .Title }}</a>
      <span class="relation">
        {{ template "ui/tag_list" dict "Items" .Tags "Label" true }}
        {{ if not $.IsCategory }}
            {{if .Category}}
                {{template "ui/category_item" dict "Item" .Category "Label" true}}
            {{end}}
        {{ end }}
      </span>
      <span class="published">{{ relativeTime .CreatedAt }}</span>
    </li>
    {{ else }}
    <li>No {{ .ID }}</li>
    {{ end }}
  </ul>
{{ template "ui/like_script" . }}
