<!doctype html>
<html lang="{{ settings "language" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <!--<link rel="stylesheet" href="/static/oat/oat.min.css">-->
  <link rel="stylesheet" href="/static/tufte-css/tufte.min.css">
  <style>
    .salign {
      display: flex;
      justify-content: space-between;
    }
    .page-link-num {
      margin: 0 0.2em;
    }
    .articles {
    }
    .published {
      color: #999;
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <main>
      {{embed}}
  </main>

  <footer>
    <p>
      <small>{{ settings "site_copyright" | replace_datetime }}</small>
    </p>
  </footer>

</body>
</html>
