<nav aria-label="Page navigation" class="pagination">
  <div class="ivalign gap-1">
    <a class="page-link" href="?page=1" tabindex="-1">«</a>
    {{if le .Pager.Page 1}}
    <span class="page-link" tabindex="-1">‹</span>
    {{else}}
    <a class="page-link" href="?page={{add .Pager.Page -1}}&pageSize={{.Pager.PageSize}}{{if .SearchQueryEscaped}}&q={{.SearchQueryEscaped}}{{end}}" tabindex="-1">‹</a>
    {{end}}

    {{range $i := until .Pager.Num}}
    {{$pageNum := add $i 1}}
    {{if eq $.Pager.Page $pageNum}}
    <span class="page-link">{{$pageNum}}</span>
    {{else}}
    <a class="page-link" href="?page={{$pageNum}}&pageSize={{$.Pager.PageSize}}{{if $.SearchQueryEscaped}}&q={{$.SearchQueryEscaped}}{{end}}">{{$pageNum}}</a>
    {{end}}
    {{end}}

    {{if ge .Pager.Page .Pager.Num}}
    <span class="page-link">›</span>
    {{else}}
    <a class="page-link" href="?page={{add .Pager.Page 1}}&pageSize={{.Pager.PageSize}}{{if .SearchQueryEscaped}}&q={{.SearchQueryEscaped}}{{end}}">›</a>
    {{end}}
    <a class="page-link" href="?page={{.Pager.Num}}&pageSize={{$.Pager.PageSize}}{{if $.SearchQueryEscaped}}&q={{$.SearchQueryEscaped}}{{end}}" tabindex="-1">»</a>
  </div>
</nav>
