<header>
  <h1>{{ .Post.Title }}</h1>
  <nav>
    <span class="author">{{ settings "author" }}</span>
    <span>{{ articleTime .Post.PublishedAt }}</span>
    · <a href="{{ settings "base_path" }}">首页</a>
    {{if .Post.Category}}
      {{template "ui/category_item" dict "Item" .Post.Category "Label" true}}
    {{end}}
    {{if .Post.Tags}}
      {{template "ui/tag_list" dict "Items" .Post.Tags "Label" true}}
    {{end}}
      {{if .IsLogin}}
        / <a href="{{ GetAdminEditPostUrl .Post.Raw }}">编辑</a>
      {{end}}
      / <form method="post" action="{{ GetBasePath }}/_action/like/{{ .LikeType }}/{{ .Post.ID }}" style="display:inline;" data-like-form>
        <input type="hidden" name="return_url" value="{{ .UrlPath }}">
        <button
          type="submit"
          data-text="点赞 ({CNT})"
          data-like-button
        >点赞 ({{ if .LikeCount }}{{ .LikeCount }}{{ else }}0{{ end }})</button>
      </form>
  </nav>
</header>
<article>
  <section>
    {{ .Post.HTML | safeHTML }}
  </section>
</article>
<section>
  <p class="salign">
      {{if .Post.Prev}}
        <span>上一篇：<a href="{{ .Post.Prev.PermLink }}" class="prev">{{ .Post.Prev.Title }}</a></span>
      {{end}}
      {{if .Post.Next}}
        <span>下一篇：<a href="{{ .Post.Next.PermLink }}" class="next">{{ .Post.Next.Title }}</a></span>
      {{end}}
  </p>
</section>
{{ template "ui/like_script" . }}
