{% extends "sui/layout/layout.html" %}
{% import "sui/include/ui.html" as sui %}

{% block head_extra %}
<meta name="robots" content="noindex, nofollow" />
<script src="/static/admin/jquery-4.0.0.slim.min.js"></script>
<script src="/static/admin/main.js"></script>
{% endblock %}

{% block window_toolbar_left %}
  {% include "sui/include/window_toolbar_left.html" %}
{% endblock %}

{% block window_toolbar_main_left %}
  {% block page_actions %}{% endblock %}
{% endblock %}

{% block window_toolbar_main_center %}
  {% if Title %}{{ sui.ToolbarTitle(Title) }}{% endif %}
{% endblock %}

{% block nav_pane %}
  {% include "dash/include/nav.html" %}
{% endblock %}

{% block status_nav_left %}
  {{ sui.LinkIcon("setting", UrlFor('admin.settings.all'), attrs='aria-label="全局设置" data-title="全局设置"') }}
{% endblock %}

{% block status_nav_right %}
  {% if IsLogin %}
    {{ sui.LinkIcon("log-out", UrlFor('admin.logout'), attrs='aria-label="退出登录" data-title="退出登录"') }}
  {% else %}
    {{ sui.LinkIcon("log-in", UrlFor('admin.login.show'), attrs='aria-label="登录" data-title="登录"') }}
  {% endif %}
{% endblock %}

{% block status_main_left %}
  {% if RouteName %}<span>{{ RouteName }}</span>{% endif %}
{% endblock %}
