{% extends "/admin/layout/layout" %}
{% block content %}
{% import "/admin/macro/ui" as ui %}

<table>
  <thead>
  <tr>
    <th class="cell-4">ID</th>
    <th>请求ID</th>
    <th>客户端IP</th>
    <th>方法</th>
    <th>路径</th>
    <th>状态</th>
    <th>用户代理</th>
    <th>查询参数</th>
    <th>请求体</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {% for log in Logs %}
  <tr>
    <td>{{ log.ID }}</td>
    <td>{{ log.ReqID }}</td>
    <td>{{ log.ClientIP }}</td>
    <td>{{ log.Method }}</td>
    <td>{{ log.Path }}</td>
    <td>{{ log.Status }}</td>
    <td>{% if log.UserAgent %}{{ long_text(log.UserAgent, 30, 1) }}{% else %}-{% endif %}</td>
    <td>{% if log.QueryParams %}{{ log.QueryParams }}{% else %}-{% endif %}</td>
    <td>{% if log.BodyParams %}
      {{ long_text(log.BodyParams, 30, 1) }}
      {% else %}-{% endif %}</td>
    <td>{{ log.CreatedAt | formatTime }}</td>
    <td>
      <div class="row-actions">
        <form id="form" method="post" action="{{ url_for("admin.http_error_logs.delete", (dict("id", log.ID))) }}">
          {{ ui.action_icon_button("删除", "trash-2", type="submit", danger=true) }}
        </form>
      </div>
    </td>
  </tr>
  {% else %}
  {{ ui.table_empty(11, "暂无日志") }}
  {% endfor %}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="11">
      {% with Pager = Pager, Req = Req %}{% include "/admin/include/pagination" %}{% endwith %}
    </td>
  </tr>
  </tfoot>
</table>
{% endblock %}
