
<table>
  <thead>
  <tr>
    <th class="cell-id">ID</th>
    <th>请求ID</th>
    <th>客户端IP</th>
    <th>方法</th>
    <th>路径</th>
    <th>状态</th>
    <th>用户代理</th>
    <th>查询参数</th>
    <th>请求体</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Logs }}
  <tr>
    <td class="cell-id">{{ .ID }}</td>
    <td>{{ .ReqID }}</td>
    <td>{{ .ClientIP }}</td>
    <td>{{ .Method }}</td>
    <td>{{ .Path }}</td>
    <td>{{ .Status }}</td>
    <td>{{ if .UserAgent }}{{ long_text .UserAgent 30 5 }}{{ else }}-{{ end }}</td>
    <td>{{ if .QueryParams }}{{ .QueryParams }}{{ else }}-{{ end }}</td>
    <td>{{ if .BodyParams }}
      {{ long_text .BodyParams 30 5 }}
      {{ else }}-{{ end }}</td>
    <td>{{ relativeTime .CreatedAt }}</td>
    <td>
      <div class="row-actions">
        <form id="form" method="post" action="/admin/http-error-logs/{{ .ID }}/delete">
          {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "删除" "danger" true }}
        </form>
      </div>
    </td>
  </tr>
  {{ else }}
  {{ template "admin/includes/table_empty" dict "ColSpan" 11 "Message" "No logs" }}
  {{ end }}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="11">
      {{template "admin/includes/pagination" .}}
    </td>
  </tr>
  </tfoot>
</table>
