{% extends "admin/layout/layout.html" %}
{% block content %}

<form id="form" method="post" action="{{ url_for('admin.posts.create') }}">
  {% set draftTitle = (DraftTitle or "") %}
  {% set draftSlug = (DraftSlug or "") %}
  {% set draftKind = (DraftKind or "0") %}
  {% set draftCategoryID = DraftCategoryID %}
  {% set draftCommentEnabled = DraftCommentEnabled %}
  {% set draftContent = (DraftContent or "") %}
  <div class="row">
    <div class="col-6">
      <label data-field>
        文章标题
        <input class="w-100" type="text" name="title" id="title" required placeholder="文章标题" value="{{ draftTitle }}">
      </label>
      <label data-field>
        文章 URL 标识
        <span class="hstack">
          <input type="text" name="slug" id="slug" required placeholder="可选：默认标题" value="{{ draftSlug }}" style="flex: 1;">
          <button class="outline" onclick="autoSetSlug()" type="button">自动生成</button>
        </span>
        <script>
          var slugAPIURL = {{ url_for('api.slug') | tojson }};
          function autoSetSlug() {
            fetch(slugAPIURL + '?name=' + encodeURIComponent($('#title').val())).then(function(r){ return r.json(); }).then(function(json){
              if (json && json.data) $('#slug').val(json.data);
            });
          }
        </script>
      </label>

      <fieldset class="hstack">
        <legend>类型</legend>
          {{ ui.form_field_radio("kind", (slice((dict("Value", "0", "Label", "文章")), (dict("Value", "1", "Label", "页面")))), selected=draftKind) }}
      </fieldset>

      {{ ui.form_field_checkbox("开启评论", "comment_enabled", checked=draftCommentEnabled, value=1) }}

      <label data-field>
        标签
          {% with SelectedTagNames = (SelectedTagNames|default("")) %}{% include "admin/include/tag_select.html" %}{% endwith %}
      </label>

      <label data-field>
        分类
          {% with Root = dict("Categories", Categories), SelectedID = draftCategoryID %}{% include "admin/include/category_select.html" %}{% endwith %}
      </label>

    </div>
  </div>
  {% with Value = draftContent, Required = true %}{% include "admin/include/markdown_preview.html" %}{% endwith %}
</form>
{% endblock %}
