<form id="form" method="post" action="/admin/redirects/new">

  {{ template "partials/form_field_text" dict "Label" "From" "Name" "from" "Required" true }}
  {{ template "partials/form_field_text" dict "Label" "To" "Name" "to" "Required" true }}

  <p>
    <label>
      <select name="status">
        <option value="301" selected>301 - Permanent Redirect</option>
        <option value="302">302 - Temporary Redirect</option>
      </select>
      <span>Status (状态码)</span>
    </label>
  </p>

  {{ template "partials/form_field_checkbox" dict "Label" "Enabled (启用)" "Name" "enabled" "Value" 1 "Checked" true }}

</form>

