<form id="form" method="post" action="{{ url_for "admin.redirects.update" (dict "id" .Redirect.ID) }}">

  {{ template "admin/includes/form_field_text" dict "Label" "From" "Name" "from" "Value" .Redirect.From "Required" true }}
  {{ template "admin/includes/form_field_text" dict "Label" "To" "Name" "to" "Value" .Redirect.To "Required" true }}

  <p>
    <label>
      <select name="status">
        <option value="301" {{ if eq .Redirect.Status 301 }}selected{{ end }}>301 - Permanent Redirect</option>
        <option value="302" {{ if eq .Redirect.Status 302 }}selected{{ end }}>302 - Temporary Redirect</option>
      </select>
      <span>Status (状态码)</span>
    </label>
  </p>

  {{ template "admin/includes/form_field_checkbox" dict "Label" "Enabled (启用)" "Name" "enabled" "Value" 1 "Checked" (eq .Redirect.Enabled 1) }}

</form>

