{% extends "admin/layout/layout.html" %}
{% block page_actions %}
<a class="button" href="{{ UrlFor('admin.redirects.new') }}">{{ ui.action_btn_content("plus", "新建重定向") }}</a>
{% endblock %}
{% block content %}

<table>
  <thead>
  <tr>
    <th class="cell-4">ID</th>
    <th>来源</th>
    <th>目标</th>
    <th>状态</th>
    <th>启用</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {% for redirect in Redirects %}
  <tr>
    <td class="cell-4">{{ redirect.ID }}</td>
    <td>{{ redirect.From }}</td>
    <td>{{ redirect.To }}</td>
    <td>
      {% if redirect.Status == 301 %}
        <span>301</span>（永久）
      {% else %}{% if redirect.Status == 302 %}
        <span>302</span>（临时）
      {% else %}
        {{ redirect.Status }}
      {% endif %}{% endif %}
    </td>
    <td>{% if redirect.Enabled == 1 %}是{% else %}否{% endif %}</td>
    <td>{{ redirect.CreatedAt | relativeTime }}</td>
    <td>{{ redirect.UpdatedAt | relativeTime }}</td>
    {{ ui.table_row_actions("admin.redirects.edit", "admin.redirects.delete", redirect.ID) }}
  </tr>
  {% else %}
  {{ ui.table_empty(8, "暂无重定向规则") }}
  {% endfor %}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="8">
      {% with Pager = Pager %}{% include "admin/include/pagination.html" %}{% endwith %}
    </td>
  </tr>
  </tfoot>
</table>
{% endblock %}
