<table>
  <thead>
  <tr>
    <th class="cell-4">ID</th>
    <th>来源</th>
    <th>目标</th>
    <th>状态</th>
    <th>启用</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  {{ range .Redirects }}
  <tr>
    <td class="cell-4">{{ .ID }}</td>
    <td>{{ .From }}</td>
    <td>{{ .To }}</td>
    <td>
      {{ if eq .Status 301 }}
        <span>301</span> (Permanent)
      {{ else if eq .Status 302 }}
        <span>302</span> (Temporary)
      {{ else }}
        {{ .Status }}
      {{ end }}
    </td>
    <td>{{ if eq .Enabled 1 }}是{{ else }}否{{ end }}</td>
    <td>{{ relativeTime .CreatedAt }}</td>
    <td>{{ relativeTime .UpdatedAt }}</td>
    {{ template "admin/includes/table_row_actions" dict "BaseURL" "/admin/redirects" "ID" .ID }}
  </tr>
  {{ else }}
  {{ template "admin/includes/table_empty" dict "ColSpan" 8 "Message" "No redirects" }}
  {{ end }}
  </tbody>

  <tfoot>
  <tr>
    <td colspan="8">
      {{template "admin/includes/pagination" .}}
    </td>
  </tr>
  </tfoot>
</table>

