{{ $type := or (index .Query "type") "posts" }}
<div class="tab-card">
  <div class="tab-nav">
    <div class="tab-item{{ if eq $type "posts" }} active{{ end }}">
      <a href="{{ url_for "admin.trash.list" (dict "type" "posts") }}">文章</a>
    </div>
    <div class="tab-item{{ if eq $type "encrypted-posts" }} active{{ end }}">
      <a href="{{ url_for "admin.trash.list" (dict "type" "encrypted-posts") }}">加密文章</a>
    </div>
    <div class="tab-item{{ if eq $type "tags" }} active{{ end }}">
      <a href="{{ url_for "admin.trash.list" (dict "type" "tags") }}">标签</a>
    </div>
    <div class="tab-item{{ if eq $type "categories" }} active{{ end }}">
      <a href="{{ url_for "admin.trash.list" (dict "type" "categories") }}">分类</a>
    </div>
    <div class="tab-item{{ if eq $type "redirects" }} active{{ end }}">
      <a href="{{ url_for "admin.trash.list" (dict "type" "redirects") }}">重定向</a>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab2-1">
    </div>
  </div>
</div>

<!--
<nav>
  <a href="{{ url_for "admin.trash.list" (dict "type" "posts") }}">文章</a>
  |
  <a href="{{ url_for "admin.trash.list" (dict "type" "encrypted-posts") }}">加密文章</a>
  |
  <a href="{{ url_for "admin.trash.list" (dict "type" "tags") }}">标签</a>
  |
  <a href="{{ url_for "admin.trash.list" (dict "type" "categories") }}">分类</a>
  |
  <a href="{{ url_for "admin.trash.list" (dict "type" "redirects") }}">重定向</a>
</nav>
-->

{{ if eq .ModelType "posts" }}
  {{ if .Data }}
  <table>
    <thead>
    <tr>
      <th class="cell-4">ID</th>
      <th>标题</th>
      <th>URL标识</th>
      <th>状态</th>
      <th>删除时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
      <td class="cell-4">{{ .ID }}</td>
      <td>{{ .Title }}</td>
      <td>{{ .Slug }}</td>
      <td>{{ .Status }}</td>
      <td>{{ if .DeletedAt }}{{ relativeTime .DeletedAt }}{{ else }}-{{ end }}</td>
      <td>
        <div class="row-actions">
          <form id="form" method="post" action="{{ url_for "admin.trash.posts.restore" (dict "id" .ID) }}">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "undo" "label" "恢复" }}
          </form>
          <form id="form" method="post" action="{{ url_for "admin.trash.posts.delete" (dict "id" .ID) }}" onsubmit="return confirm('确定永久删除吗？此操作不可恢复！')">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "硬删除" "danger" true }}
          </form>
        </div>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>暂无已删除文章。</p>
  {{ end }}
{{ end }}

{{ if eq .ModelType "encrypted-posts" }}
  {{ if .Data }}
  <table>
    <thead>
    <tr>
      <th class="cell-4">ID</th>
      <th>标题</th>
      <th>URL标识</th>
      <th>删除时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
      <td class="cell-4">{{ .ID }}</td>
      <td>{{ .Title }}</td>
      <td>{{ .Slug }}</td>
      <td>{{ if .DeletedAt }}{{ relativeTime .DeletedAt }}{{ else }}-{{ end }}</td>
      <td>
        <div class="row-actions">
          <form id="form" method="post" action="{{ url_for "admin.trash.encrypted_posts.restore" (dict "id" .ID) }}">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "undo" "label" "恢复" }}
          </form>
          <form id="form" method="post" action="{{ url_for "admin.trash.encrypted_posts.delete" (dict "id" .ID) }}" onsubmit="return confirm('确定永久删除吗？此操作不可恢复！')">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "硬删除" "danger" true }}
          </form>
        </div>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>暂无已删除加密文章。</p>
  {{ end }}
{{ end }}

{{ if eq .ModelType "tags" }}
  {{ if .Data }}
  <table>
    <thead>
    <tr>
      <th class="cell-4">ID</th>
      <th>名称</th>
      <th>URL标识</th>
      <th>删除时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
      <td class="cell-4">{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Slug }}</td>
      <td>{{ if .DeletedAt }}{{ relativeTime .DeletedAt }}{{ else }}-{{ end }}</td>
      <td>
        <div class="row-actions">
          <form id="form" method="post" action="{{ url_for "admin.trash.tags.restore" (dict "id" .ID) }}">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "undo" "label" "恢复" }}
          </form>
          <form id="form" method="post" action="{{ url_for "admin.trash.tags.delete" (dict "id" .ID) }}" onsubmit="return confirm('确定永久删除吗？此操作不可恢复！')">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "硬删除" "danger" true }}
          </form>
        </div>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>暂无已删除标签。</p>
  {{ end }}
{{ end }}

{{ if eq .ModelType "categories" }}
  {{ if .Data }}
  <table>
    <thead>
    <tr>
      <th class="cell-4">ID</th>
      <th>名称</th>
      <th>URL标识</th>
      <th>父级</th>
      <th>描述</th>
      <th>删除时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
      <td class="cell-4">{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Slug }}</td>
      <td>{{ if eq .ParentID 0 }}-{{ else }}{{ .ParentID }}{{ end }}</td>
      <td>{{ .Description }}</td>
      <td>{{ if .DeletedAt }}{{ relativeTime .DeletedAt }}{{ else }}-{{ end }}</td>
      <td>
        <div class="row-actions">
          <form id="form" method="post" action="{{ url_for "admin.trash.categories.restore" (dict "id" .ID) }}">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "undo" "label" "恢复" }}
          </form>
          <form id="form" method="post" action="{{ url_for "admin.trash.categories.delete" (dict "id" .ID) }}" onsubmit="return confirm('确定永久删除吗？此操作不可恢复！')">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "硬删除" "danger" true }}
          </form>
        </div>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>暂无已删除分类。</p>
  {{ end }}
{{ end }}

{{ if eq .ModelType "redirects" }}
  {{ if .Data }}
  <table>
    <thead>
    <tr>
      <th class="cell-4">ID</th>
      <th>来源</th>
      <th>目标</th>
      <th>删除时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
      <td class="cell-4">{{ .ID }}</td>
      <td>{{ .From }}</td>
      <td>{{ .To }}</td>
      <td>{{ if .DeletedAt }}{{ relativeTime .DeletedAt }}{{ else }}-{{ end }}</td>
      <td>
        <div class="row-actions">
          <form id="form" method="post" action="{{ url_for "admin.trash.redirects.restore" (dict "id" .ID) }}">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "undo" "label" "恢复" }}
          </form>
          <form id="form" method="post" action="{{ url_for "admin.trash.redirects.delete" (dict "id" .ID) }}" onsubmit="return confirm('确定永久删除吗？此操作不可恢复！')">
            {{ template "admin/includes/action_icon_button" dict "type" "submit" "name" "trash-2" "label" "硬删除" "danger" true }}
          </form>
        </div>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>暂无已删除重定向。</p>
  {{ end }}
{{ end }}
