button[data-like-button] {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
}
button[data-liked="1"] {
  color: rgb(249, 24, 128);
}
button[data-liked="1"] svg {
  fill: rgb(249, 24, 128);
}
svg {
  vertical-align: text-bottom;
}

button[data-like-button]:disabled {
  opacity: 0.6;
  cursor: default;
}

.valign {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.read-uv {
  /*display: inline-flex;*/
  /*align-items: center;*/
  /*gap: 0.2em;*/
}

.comment-count {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
  text-decoration: none;
  color: inherit;
  border: 0;
  background: none;
  text-shadow: none;
}
.comment-count:hover,
.comment-count:link,
.comment-count:visited {
  text-decoration: none;
  background: none;
  text-shadow: none;
}

.page-link-num {
  margin: 0 0.2em;
}
.articles {
  padding-left: 0;
}
.relation {
  margin-left: 10px;
  color: #999;
}
.relation a {
  margin: 0 5px;
}
.back_home {
  margin-left: 10px;
}
.published {
  color: #999;
  margin-left: 10px;
}
.toc {
  position: fixed;
  right: -20em;
  width: 20em;
  top: 0;
  height: 100%;
  background: #f7f7f7;
}
.toc.open {
  right: 0;
}
.toc a, .toc li {
  font-size: 16px;
}
.toc ol {
  padding-left: 1em;
}
.toc ol { list-style-type: decimal }
.toc ol ol { list-style-type: lower-alpha }
.toc ol ol ol { list-style-type: lower-roman }
.toc ol ol ol ol { list-style-type: lower-greek }
.toc ol ol ol ol ol { list-style-type: decimal }
.toc ol ol ol ol ol ol { list-style-type: lower-alpha }
.toc-toggle {
  position: absolute;
  width: 1em;
  height: 2em;
  line-height: 2em;
  padding: 8px 0;
  cursor: pointer;
  background: #f7f7f7;
  left: -1em;
  top: 50%;
  margin-top: -1em;
  text-align: center;
}
.toc-title {
  position: sticky;
  padding: 0 1em;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.toc .toc-list {
  overflow-y: auto;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 1.5em;
  height: calc(100% - 40px);
  box-sizing: border-box;
}
article table {
  border-collapse: collapse;
}
article table th, article table td {
  border-bottom: 1px solid #111;
  padding: 0.5em 0;
}
article table thead th {
  border-bottom: 2px solid #111;
}

.comment-block ol {
  list-style: none;
}
.comment-list {
  padding: 0;
}
.comment-pagination {
  margin: 0.75em 0 1em;
}
.comment-list .comment-children {
}
.comment-item {
}
.comment-card {
  /*border: 1px solid #ddd;*/
  padding: 0.5em;
}

.comment-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.comment-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.comment-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.comment-body {
  /*margin-bottom: 1em;*/
}
.comment-form,
.comment-form p {
  font-size: 16px;
}
.comment-form-row {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.comment-remember,
.comment-reply-state,
.comment-submit-row {
  padding-left: 2em;
}
.comment-submit-row {
  margin-bottom: 0.5em;
}
.comment-checkbox-label {
  display: inline-flex;
  align-items: center;
}
.comment-form-row [for="comment-content"] {
  vertical-align: top;
}
.comment-time,
.comment-help {
  color: #666;
}
.post-info {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.katex-display {
  width: 55%;
}
