{% import "sui/include/ui.html" as sui %}
{% set isRegularPostEditor = (DraftCategoryID is defined) or (Category is defined) %}
{% set isEditMode = Post is defined %}
{% set showLinkAction = (not isRegularPostEditor) or isEditMode %}
{% set showImageAction = isRegularPostEditor and isEditMode %}

<div aria-label="Markdown 常用按钮">
  {{ sui.IconAction("bold", "加粗", attrs='data-title="加粗" data-seditor-command="bold"') }}
  {{ sui.IconAction("italic", "斜体", attrs='data-title="斜体" data-seditor-command="italic"') }}
  {{ sui.IconAction("quote", "引用", attrs='data-title="引用" data-seditor-command="blockquote"') }}
  {% if showLinkAction %}
    {{ sui.IconAction("link", "链接", attrs='data-title="插入链接" data-seditor-command="link"') }}
  {% endif %}
  {% if showImageAction %}
    {{ sui.IconAction("image", "图片上传", attrs='data-title="图片上传" data-seditor-command="image_upload"') }}
  {% endif %}
  {{ sui.IconAction("list", "无序列表", attrs='data-title="无序列表" data-seditor-command="bullet_list"') }}
  {{ sui.IconAction("list-tree", "有序列表", attrs='data-title="有序列表" data-seditor-command="ordered_list"') }}
  {{ sui.IconAction("table", "插入表格", attrs='data-title="插入 2x3 表格" data-seditor-command="table_insert"') }}
  {{ sui.IconAction("between-horizontal-start", "添加行", attrs='data-title="添加行" data-seditor-command="table_add_row" data-seditor-visible-when="table" data-icon-rotate="180" disabled') }}
  {{ sui.IconAction("between-vertical-start", "添加列", attrs='data-title="添加列" data-seditor-command="table_add_column" data-seditor-visible-when="table" disabled') }}
  {{ sui.IconAction("list-x", "删除行", attrs='data-title="删除行" data-seditor-command="table_delete_row" data-seditor-visible-when="table" disabled') }}
  {{ sui.IconAction("list-x", "删除列", attrs='data-title="删除列" data-seditor-command="table_delete_column" data-seditor-visible-when="table" data-icon-rotate="ccw-90" disabled') }}
</div>
