<link rel="stylesheet" href="{{ StaticUrl('/static/katex/katex.min.css') }}">
<script defer src="{{ StaticUrl('/static/katex/katex.min.js') }}"></script>
<script defer src="{{ StaticUrl('/static/katex/contrib/auto-render.min.js') }}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false}
      ],
      throwOnError: false
    });
  });
</script>
